<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=.8; user-scalable=0;">
<div class="new-events">
  <div class="container" id="new-event-container">
    <div class="row">
      <div class="col">
      </div>
        <div class="col-6 rounded" id="new-event-column">
          <div id="new-event-header">
            <h2 id="new-event-heading"><u>New Events</u></h2>
          </div>
          <div id="new-event-list">
            <ul class="list-group" id="new-events-list">
            </ul>
          </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div>
  <div class="container" id="current-event-container">
    <div class="row">
      <div class="col">
      </div>
        <div class="col-6 rounded" id="current-event-column">
          <div id="current-event-header">
            <h2 id="current-event-heading"><u>Events</u></h2>
            <div id="date-navigation">
              <i onclick="currentEventDateChange(-1)" class="fa fa-chevron-left" aria-hidden="true"></i>
              <strong><span onclick="allEventsBrain()">  All  </span></strong>
              <strong><span onclick="todayEventsBrain()">Today  </span></strong>
              <i onclick="currentEventDateChange(1)" class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
            <div id="current-event-date-header-capsule" style="display:none">
              <p id ="current-event-date-header"></p>
            </div>
          </div>
          <div id="current-event-list">
            <ul class="list-group" id="current-events-list">
            </ul>
          </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
