<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=.8, user-scalable=0"> -->
<script>
  $(document).ready(getEventShow())
</script>
<%= render 'navbar/navbar' %>
<div class="event">
  <div class="container" id="event-container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col" id="event-show-header-column">
        <div id="event-show-header">
          <div id="event-show-header-name">
          </div>
          <div id="event-show-header-place-and-time" class="header-style-two">
          </div>
          <div id="event-show-add-remove-buttons" class="header-style-two">
            <span id="add-event-to-list-button"></span>
            <span id="remove-event-from-list-button"></span>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row justify-content-center" style="width:`auto`">
      <div class="col">
      </div>
      <div class="col" id="event-show-picture-column">
        <div id="event-show-picture">
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col" id="event-show-details-column">
        <div id="event-show-details">
          <br>
          <strong>Description:</strong><br>
          <span id="event-show-description"></span>
          <br>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col" id="event-show-footer-column">
        <div id="event-show-footer">
          <br>
          <span id="event-show-location-address"></span>
          <br>
          <br>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
