<%= render 'navbar/navbar' %>
<script>
$(document).ready(getBreweryIndex(0))
</script>
<div class="breweries-index">
  <div class="container" id="brewery-index-container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-7 rounded" id="new-event-column">
        <table class="table table-hover">
          <thead id="brewery-index-table-header">
            <tr>
              <th scope="col">Brewery</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
            </tr>
          </thead>
          <tbody id="brewery-index-table">
          </tbody>
        </table>
        <div id="brewery-index-pagination">
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
