<%= render 'navbar/navbar' %>
<script>
  $(document).ready(getBreweryIndex(0))
</script>
<div class="breweries-index">
  <div class="container" id="brewery-index-container">
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col" id="brewery-index-column">
        <div id="brewery-index-table-container">
          <div id="brewery-index-table-header">
            <h3>Breweries</h3>
          </div>
          <div id="brewery-index-table">
          </div>
          <div id="brewery-index-pagination">
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
