<div class="flash-message">
  <div class="container" id="flash-message-container">
    <div class="row justify-content-center">
      <!-- <div class="col">
      </div>
      <div class="col " id="flash-message-column"> -->
        <div id="flash-message-insert">
        </div>
      <!-- </div> -->
      <!-- <div class="col">
      </div> -->
    </div>
  </div>
</div>
