/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 body{
   background-color: #EDEFF0;
   position: relative;
 }

 h1 {
   height: 10000px;
 }

nav {
  border-bottom: 1px;
  border-bottom-style: solid;
  /*padding-top: 10px;
  height: 200px;*/
}

.container-fluid {
  margin-top: 10px;
  height: 60px;
}

.new-events {
  margin-top: 100px;
}

#new-event-heading{
  text-align: center;
}

#new-event-header{
  margin-bottom: 20px;
  border-style: solid;
  background-color: white;
}

#new-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

#new-event-column{
  border-style: solid;
  border-color: #19334d;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #19334d;
}

#new-event-container{
  margin-bottom: 30px;
}

#current-event-heading{
  text-align: center;
}

#current-event-header{
  margin-bottom: 20px;
  border-style: ridge;
}
#current-event-column{
  border-style: solid;
  border-color: #19334d;
  padding-top: 20px;
  padding-bottom: 20px;
}

#current-event-container{
  margin-top: 30px;
}

#current-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

.list-group-item{
  border-style: solid;
  border-color: #19334d;
  font-size: 12px;
}

#date-navigation{
  text-align: center;
}

#current-event-date-header-capsule{
  text-align: center;
}

.event{
  margin-top: 100px;
  font-size: 12px;
}

#event-show-header-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
}

/*#event-show-picture{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  text-align: center;
}*/

#event-show-picture-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  /*border-bottom-style: solid;*/
  text-align: center;
  border-width: 1px;
  border-color: #D5D7DB;
}

/*#event-show-other-events{
  background-color: white;
  border-style: solid;
  border-radius: 7px 7px 7px 7px;
  height:350px;
}
#event-show-other-events-header{
  text-align: center;
  padding-top: 10px;
}*/
#event-show-location-column{
  background-color: white;
  border-top-style: solid;
  border-left-style:solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
}

#event-show-location{
  font-family: palatino;
}

/*#event-show-details{
  background-color: white;
  font-family: palatino;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style:solid;
  border-right-style: solid;
}*/

#event-show-details-column{
  background-color: white;
  font-family: palatino;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style:solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  /*border-bottom-style: solid;*/
}

#homePageCarousel{
  /*max-height: 600px;*/
}

#event-show-footer-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 0px 0px 7px 7px;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
}

#event-description-paragraph{
margin: 0px;
padding: 0px;
}
