/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 h1 {
   height: 10000px;
 }

.nav {
  /*padding-top: 10px;
  height: 200px;*/
}

.container-fluid {
  margin-top: 10px;
  height: 60px;
}

.new-events {
  margin-top: 100px;
}

#new-event-heading{
  text-align: center;
}

#new-event-header{
  margin-bottom: 20px;
  border-style: ridge;
}

#new-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

#new-event-column{
  border-style: solid;
  border-color: #19334d;
  padding-top: 20px;
  padding-bottom: 20px;
}

#new-event-container{
  margin-bottom: 30px;
}

#current-event-heading{
  text-align: center;
}

#current-event-header{
  margin-bottom: 20px;
  border-style: ridge;
}
#current-event-column{
  border-style: solid;
  border-color: #19334d;
  padding-top: 20px;
  padding-bottom: 20px;
}

#current-event-container{
  margin-top: 30px;
}

#current-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

.list-group-item{
  border-style: solid;
  border-color: #19334d;
}

#date-navigation{
  text-align: center;
}

#current-event-date-header-capsule{
  text-align: center;
}
