/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 .active{
   color: white;
   background-color: #EDEFF0;
 }

 body{
   background-color: #EDEFF0;
   position: relative;
 }

 h1 {
   height: 10000px;
 }

nav {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #D5D7DB;
  box-shadow: 3px 1px 10px #848f94;
}

#navbar-name{
}

.container-fluid {
  margin-top: 10px;
  height: 60px;
}

.new-events {
  margin-top:80px;
}

#new-event-heading{
  text-align: center;
}

#new-event-header{
  margin-bottom: 20px;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color: white;
}

#new-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

#new-event-column{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  box-shadow: 3px 3px 7px #848f94;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#new-event-container{
  margin-bottom: 30px;
}

#current-event-heading{
  text-align: center;
}

#current-event-header{
  margin-bottom: 20px;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
}

#current-event-column{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  box-shadow: 3px 3px 7px #848f94;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#current-event-container{
  margin-top: 30px;
}

#current-event-list{
  max-height: 600px;
  overflow-y:scroll;
}

.list-group-item{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  box-shadow: 3px 3px 7px #848f94;
  font-size: 12px;
}

#date-navigation{
  text-align: center;
  cursor: pointer;
}

#current-event-date-header-capsule{
  text-align: center;
}

.event{
  margin-top: 10px;
  font-size: 14px;
}

#event-container{
  /*box-shadow: 2px 1px 10px black;*/
}

#event-show-header-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

/*#event-show-picture{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  text-align: center;
}*/

#event-show-picture-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  /*border-bottom-style: solid;*/
  text-align: center;
  border-width: 1px;
  border-color: #D5D7DB;;
  box-shadow: 3px 3px 7px #848f94;
}
#event-show-location-column{
  background-color: white;
  border-top-style: solid;
  border-left-style:solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#event-show-location{
  font-family: palatino;
}

#event-show-details-column{
  background-color: white;
  font-family: palatino;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style:solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
  /*border-bottom-style: solid;*/
}

#homePageCarousel{
  /*max-height: 600px;*/
}

#event-show-footer-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 0px 0px 7px 7px;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#event-description-paragraph{
margin: 0px;
padding: 0px;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  /*visibility: hidden;*/
}

.flash-message{
  position:relative;
  margin-top: 65px;
  /*z-index: -1;*/
}

#flash-message-insert{
  text-align: center;
  z-index: -1;
}

/* User Dashboard */

#user-dashboard-events-header{
  text-align: center;
}

#user-dashboard-events-column{
  margin-top:0px;
}

.user-dashboard-event{
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
  margin-top: 10px;
  background-color: white;
  padding: 10px;

}

#user-dashboard-events-pagination{
  text-align: center;
}

.dashboard-pagination-numbers{
  cursor: pointer;
}

#user-dashboard-events-header{
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
  background-color: white;
  border-radius: 7px 7px 0px 0px;
}

#user-dashboard-events-list{
  max-height: 550px;
  overflow-y:scroll;
}

#user-dashboard-events-pagination{
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  margin-top: 10px;
}

/*Breweries Index*/

#brewery-index-table-container{
  margin-top: 5vh;
  width:60vw;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 7px #848f94;
  margin-bottom: 5vh;
}

#brewery-index-table{
  padding-top:1vh;
  padding-bottom:2vh;
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  max-height: 600px;
  overflow-y:scroll;
  background-color: white;
}

.brewery-index-instance{
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  border-radius: 7px 7px 7px 7px;
  background-color: #e6e6e6;
  cursor: pointer;
  margin-top: 1vh;
  width:40vw;
  padding-top:1vh;
  padding-bottom:1vh;
  text-align:center;
}
.brewery-index-instance:hover{
  box-shadow: 3px 3px 7px #848f94;
  background-color: #bfbfbf;
  color:white;
}

#brewery-index-table-header{
  padding-top:2vh;
  padding-bottom: 1vh;
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  background-color: #d6f1ff;;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  font-family: palatino;
  font-size: 23px;
  font-weight: bold;
}

#brewery-index-pagination{
  border-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  text-align: center;
  font-family: palatino;
  font-size:18px;
}

.brewery-index-pagination-numbers{
  cursor: pointer;
}

/*Brewery Show*/

/*#brewery-show-header-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-picture-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  text-align: center;
  border-width: 1px;
  border-color: #D5D7DB;;
  box-shadow: 3px 3px 7px #848f94;
}
#brewery-show-location-column{
  background-color: white;
  border-top-style: solid;
  border-left-style:solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-location{
  font-family: palatino;
}

#brewery-show-details-column{
  background-color: white;
  font-family: palatino;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style:solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-footer-column{
  background-color: white;
  border-left-style:solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 0px 0px 7px 7px;
  font-family: palatino;
  padding-top: 10px;
  border-width: 1px;
  border-color: #D5D7DB;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-description-paragraph{
margin: 0px;
padding: 0px;
}
*/

/*NEW BREWERY SHOW*/

#brewery-show-container{
  margin-top: 5vh;
  width:60vw;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-header{
  padding-top:1vh;
  border-radius: 7px 7px 0px 0px;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:#d6f1ff;
  font-family: palatino;
  text-align:center;
  font-weight: bold;

}
#brewery-show-picture{
  padding-top:1vh;
  padding-bottom:1vh;
  padding-right:1vh;
  padding-left:1vh;
  text-align:center;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:white;
}
#brewery-show-info{

}

#brewery-show-events{

}

#brewery-show-events-containter{
  width:60vw;
  margin-top:5vh;
  text-align:center;
}

#brewery-show-events-header{
  padding-top:1vh;
  border-radius: 7px 7px 0px 0px;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:#d6f1ff;
  font-family: palatino;
  font-size:23px;
  text-align:center;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-events-body{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:white;
  font-family: palatino;
  text-align:center;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-event-instances-container{
  /*width:42vw;*/
  max-height:50vh;
  overflow-y:scroll;
  padding-bottom:5vh;
}

.brewery-show-event-instance{
  width: 40vw;
  margin-top:5vh;
  border-radius: 7px 7px 7px 7px;
  background-color:white;
}
.brewery-show-event-instance:hover{
  background-color:grey;
  box-shadow: 3px 3px 7px #848f94;
}

.brewery-show-event-instance-body{
  max-height:12vh;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:white;
  border-radius: 0px 0px 7px 7px;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  padding-bottom:1vh;
  background-color: white;
  opacity: .6;
  filter: alpha(opacity=60);
  font-weight: bold;
  color:black;
}

.brewery-show-event-instance-header{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:#dbf0fa;
  border-radius: 7px 7px 0px 0px;
}

#brewery-show-info-containter{
  /*margin-top: 5vh;*/
  /*max-height:50vh;*/
  /*padding-bottom: 2vh;*/
  width: 60vw;
}
#brewery-show-info-content{
  margin-top: 5vh;
  /*max-height:50vh;*/
  width: 60vw;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 7px #848f94;
}

#brewery-show-info-body{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:white;
  border-radius: 0px 0px 7px 7px;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  padding-bottom:3vh;
  margin-bottom:10vh;
}
#brewery-show-info-header{
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:#d6f1ff;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  font-size: 23px;
  font-family: palatino;
}

.brewery-show-info-instance{
  width: 40vw;
  margin-top:2vh;
  border-radius: 7px 7px 7px 7px;
  background-color:white;
}

.brewery-show-info-instance-header{
  font-size: 18px;
  font-family: palatino;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  background-color:#dbf0fa;
  border-radius: 7px 7px 7px 7px;
}
.brewery-show-info-instance-header:hover{
  cursor:pointer;
  background-color:#8fd1f0;
}
.brewery-show-info-instance-header.active{
  border-radius: 7px 7px 0px 0px;
  background-color: #0f5270
}


.brewery-show-info-instance-body{
  /*max-height:12vh;*/
  border-style: solid;
  border-color: #D5D7DB;
  border-width: 1px;
  border-radius: 0px 0px 7px 7px;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:1vh;
  padding-bottom:1vh;
  font-family: palatino;
  font-size: 16px;
  background-color: white;
  font-weight: bold;
  color:black;
  max-height: 35vh;
  overflow-y: scroll;
}
